.log-in {
  font-family: 'Ubuntu', 'Raleway', sans-serif;
  padding-top: 15px;
  font-size: 12px;
  background-image: url("../../img/main-background.jpg");
  /* enable absolute positioning */
  /* style icon */
  /* align icon */
  /* add padding  */ }
  .log-in .main {
    background-color: rgba(255, 255, 255, 0.2);
    max-width: 360px;
    margin: 0 auto;
    padding: 20px 20px 55px 20px; }
  .log-in .login-or {
    display: flex;
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px; }
  .log-in .span-or {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    top: -14px;
    width: 30px;
    text-align: center;
    color: white; }
  .log-in .hr-or-left {
    background-color: #cdcdcd;
    height: 1px;
    width: 127px;
    margin: 0 5px 0 0; }
  .log-in .hr-or-right {
    background-color: #cdcdcd;
    height: 1px;
    width: 127px;
    margin: 0 0 0 5px; }
  .log-in h3 {
    text-align: center;
    line-height: 300%;
    font-weight: bold;
    margin: 10px; }
  .log-in .guest-button {
    width: 100%; }
  .log-in .form-control {
    border: 0;
    border-radius: 27px;
    background-color: rgba(255, 255, 255, 0.9); }
  .log-in .submit-button {
    font-weight: bold;
    height: 19px;
    color: gray;
    background: none;
    border: none;
    position: absolute;
    top: 227px;
    left: 807px;
    width: 20px;
    text-align: center;
    border-radius: 0;
    padding: 0 21px 0 1px; }
  .log-in .submit-button:hover {
    border-bottom: 2px solid gray;
    color: gray; }
  .log-in .log-in-up {
    display: flex;
    justify-content: space-between; }
  .log-in .btn-log {
    background: none;
    border: 1px solid white;
    color: white;
    border-radius: 27px;
    transition: 0.25s; }
  .log-in .btn-log:hover,
  .log-in .guest-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: white;
    color: white; }
  .log-in p {
    font-weight: bold;
    padding-top: 10px; }
  .log-in p a {
    color: midnightblue; }
  .log-in label,
  .log-in p {
    padding-left: 14px; }
  .log-in .inner-addon {
    position: relative; }
  .log-in .inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none; }
  .log-in .inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none; }
  .log-in .left-addon .fa {
    left: 0px;
    padding-top: 31px;
    padding-left: 12px;
    color: #A9A9A9;
    font-size: 15px; }
  .log-in .left-addon .glyphicon {
    left: 0px;
    padding-top: 31px;
    padding-left: 12px;
    color: #A9A9A9; }
  .log-in .left-addon input {
    padding-left: 32px; }
  .log-in .guest-button {
    background: none;
    border: 1px solid white;
    border-radius: 0px;
    transition: 0.25s; }

.user-profile {
  font-family: 'Raleway', sans-serif;
  background-image: url("../../img/main-background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 1200px) {
    .user-profile .container {
      width: 1000px; }
    .user-profile .left-block-container {
      width: 27%; }
    .user-profile .right-block-container {
      width: 73%; } }
  .user-profile .dropdown-toggle {
    margin-right: 15px;
    font-size: 16px; }
  .user-profile .user-name-post {
    display: inline-block; }
  .user-profile .panel-title {
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
    margin-bottom: 10px; }
  .user-profile .brand_network {
    color: #9D9D9D;
    float: left;
    position: absolute;
    left: 70px;
    top: 30px;
    font-size: smaller; }
  .user-profile .post-content {
    margin-top: 27px;
    margin-left: 10px; }
  .user-profile .badge-important {
    margin-top: 3px;
    margin-left: 25px;
    position: absolute; }
  .user-profile .left-block-container,
  .user-profile .right-block-container {
    padding: 0; }
  .user-profile .right-block-container {
    padding-right: 10px; }
  .user-profile .bottom-user-block {
    margin-bottom: 10px; }
  .user-profile .panel-default {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    margin: 10px 0 10px 10px; }
  .user-profile .user-image {
    background-color: #032403;
    border-color: #032403; }
  .user-profile .panel-post {
    padding-top: 22px;
    padding-left: 22px; }

.navbar-container {
  background-color: #032403;
  border: none; }
  .navbar-container h3 {
    margin: 0px;
    display: inline-block; }
  .navbar-container .inner-addon {
    position: relative; }
  .navbar-container .glyphicon-search {
    position: absolute;
    color: #A9A9A9; }
  .navbar-container .glyphicon-search:hover {
    color: black;
    text-decoration: none; }
  .navbar-container input {
    width: 300px;
    border-radius: 27px;
    display: inline-block;
    height: 30px;
    border: none;
    margin-top: 6px; }
  .navbar-container .search-button {
    border: none;
    border-radius: 0 27px 27px 0;
    top: 6px;
    bottom: 0px; }
  .navbar-container .navbar-left {
    margin-top: 4px; }
  .navbar-container .dropdown-toggle {
    margin: 0;
    padding-right: 0; }

.user-search h1 {
  margin: 5px 0 20px 0;
  text-align: center; }
.user-search ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0; }
.user-search .user-container {
  display: inline-block;
  max-width: 250px;
  padding: 15px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  transition: 0.1s; }
  .user-search .user-container:hover {
    transform: scale(1.02);
    background-color: rgba(255, 255, 255, 0.8); }
  .user-search .user-container h4 {
    font-weight: bold; }
  .user-search .user-container .side-position {
    margin: 5px 0; }
  .user-search .user-container .user-image {
    border: none; }

/*# sourceMappingURL=styles.css.map */
