.log-in {
  font-family: 'Ubuntu', 'Raleway', sans-serif;
  padding-top: 15px;
  font-size: 12px;
  background-image: url(../../img/main-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  /* enable absolute positioning */
  /* style icon */
  /* align icon */
  /* add padding  */ }
  .log-in .main {
    background-color: rgba(255, 255, 255, 0.2);
    max-width: 360px;
    margin: 0 auto;
    padding: 20px 20px 55px 20px; }
  .log-in .login-or {
    display: flex;
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px; }
  .log-in .span-or {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    top: -14px;
    width: 30px;
    text-align: center;
    color: white; }
  .log-in .hr-or-left {
    background-color: #cdcdcd;
    height: 1px;
    width: 127px;
    margin: 0 5px 0 0; }
  .log-in .hr-or-right {
    background-color: #cdcdcd;
    height: 1px;
    width: 127px;
    margin: 0 0 0 5px; }
  .log-in h3 {
    text-align: center;
    line-height: 300%;
    font-weight: bold;
    margin: 10px; }
  .log-in .guest-button {
    width: 100%; }
  .log-in .form-control {
    border: 0;
    border-radius: 27px;
    background-color: rgba(255, 255, 255, 0.9); }
  .log-in .submit-button {
    font-weight: bold;
    height: 19px;
    color: gray;
    background: none;
    border: none;
    position: absolute;
    top: 227px;
    left: 807px;
    width: 20px;
    text-align: center;
    border-radius: 0;
    padding: 0 21px 0 1px; }
  .log-in .submit-button:hover {
    border-bottom: 2px solid gray;
    color: gray; }
  .log-in .log-in-up {
    display: flex;
    justify-content: space-between; }
  .log-in .btn-log {
    background: none;
    border: 1px solid white;
    color: white;
    border-radius: 27px;
    transition: 0.25s; }
  .log-in .btn-log:hover,
  .log-in .guest-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: white;
    color: white; }
  .log-in p {
    font-weight: bold;
    padding-top: 10px; }
  .log-in p a {
    color: midnightblue; }
  .log-in label,
  .log-in p {
    padding-left: 14px; }
  .log-in .inner-addon {
    position: relative; }
  .log-in .inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none; }
  .log-in .inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none; }
  .log-in .left-addon .fa {
    left: 0px;
    padding-top: 31px;
    padding-left: 12px;
    color: #A9A9A9;
    font-size: 15px; }
  .log-in .left-addon .glyphicon {
    left: 0px;
    padding-top: 31px;
    padding-left: 12px;
    color: #A9A9A9; }
  .log-in .left-addon input {
    padding-left: 32px; }
  .log-in .guest-button {
    background: none;
    border: 1px solid white;
    border-radius: 0px;
    transition: 0.25s; }

.user-profile {
  font-family: 'Raleway', sans-serif;
  background: darkslategray;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 1200px) {
    .user-profile .container {
      width: 1000px; }
    .user-profile .left-block-container {
      width: 27%; }
    .user-profile .right-block-container {
      width: 73%; } }
  .user-profile .mainbody {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 150px 0 #000; }
  .user-profile .dropdown-toggle {
    margin-right: 15px;
    font-size: 16px; }
  .user-profile .user-name-post {
    display: inline-block; }
  .user-profile .panel-title {
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
    margin-bottom: 10px; }
  .user-profile .brand_network {
    color: #9D9D9D;
    float: left;
    position: absolute;
    left: 70px;
    top: 30px;
    font-size: smaller; }
  .user-profile .post-content {
    margin-top: 27px;
    margin-left: 10px; }
  .user-profile .badge-important {
    margin-top: 3px;
    margin-left: 25px;
    position: absolute; }
  .user-profile .left-block-container,
  .user-profile .right-block-container {
    padding: 0; }
  .user-profile .right-block-container {
    padding-right: 10px; }
  .user-profile .bottom-user-block {
    margin-bottom: 10px; }
  .user-profile .panel-default {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    margin: 10px 0 10px 10px; }
  .user-profile .user-image {
    background-color: #032403;
    border-color: #032403; }
  .user-profile .panel-post {
    padding-top: 22px;
    padding-left: 22px; }

.navbar-container {
  background-color: black;
  border: none;
  border-radius: 0;
  margin-bottom: 0; }
  .navbar-container h3 {
    margin: 0px;
    display: inline-block; }
  .navbar-container .inner-addon {
    position: relative; }
  .navbar-container .glyphicon-search {
    position: absolute;
    color: #A9A9A9; }
  .navbar-container .glyphicon-search:hover {
    color: black;
    text-decoration: none; }
  .navbar-container input {
    width: 300px;
    border-radius: 27px;
    display: inline-block;
    height: 30px;
    border: none;
    margin-top: 6px; }
  .navbar-container .search-button {
    border: none;
    border-radius: 0 27px 27px 0;
    top: 6px;
    bottom: 0px; }
  .navbar-container .navbar-left {
    margin-top: 4px; }
  .navbar-container .dropdown-toggle {
    margin: 0;
    padding-right: 0; }

.user-search {
  font-family: 'Raleway', sans-serif;
  background-color: darkslategray;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }
  .user-search .container-search {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 150px 0 #000; }
  @media (min-width: 1200px) {
    .user-search .container {
      width: 1000px; } }
  @media (max-width: 991px) and (min-width: 743px) {
    .user-search .user-list::after {
      max-width: 463px !important; } }
  @media (max-width: 510px) {
    .user-search .user-list::after {
      max-width: 0px !important; } }
  .user-search h1 {
    margin: 20px 0 20px 0;
    text-align: center; }
  .user-search .user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0; }
    .user-search .user-list:after {
      max-width: 232px;
      content: "";
      flex: auto; }
  .user-search .upper-background {
    background: rgba(72, 100, 0, 0.4);
    border-radius: 5px 5px 0 0;
    width: 203px;
    height: 100px;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    z-index: 0; }
  .user-search .li-user {
    transition: 0.1s; }
    .user-search .li-user:hover {
      transform: scale(1.02); }
  .user-search .user-container {
    display: inline-block;
    max-width: 212px;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.7); }
    .user-search .user-container h4 {
      font-weight: bold;
      font-size: 17px;
      border-bottom: 1px solid grey;
      padding-bottom: 7px; }
    .user-search .user-container .user-image {
      border-radius: 270px;
      margin: 0 auto;
      position: relative; }
    .user-search .user-container .side-position {
      margin: 5px 0;
      font-size: 13px;
      text-align: center; }
    .user-search .user-container .user-image {
      border: none; }
    .user-search .user-container .location {
      font-size: 12px;
      text-align: center; }

.user-level {
  font-family: 'Raleway', sans-serif;
  background-image: url("../../img/main-background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 1200px) {
    .user-level .container {
      width: 1000px; } }
  .user-level h1 {
    text-align: center; }

.main-matches {
  font-family: 'Raleway', sans-serif;
  background: darkslategray;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 1200px) {
    .main-matches .container {
      width: 1000px; } }
  .main-matches .main-page-container {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 75px 0 #000; }
  .main-matches h1,
  .main-matches h2 {
    text-align: center;
    margin-top: 10px; }
  .main-matches .subtitle {
    text-align: center;
    padding: 0 50px; }
  .main-matches .divider {
    margin: 20px 70px;
    border-color: grey; }
  .main-matches .matches-container {
    display: flex;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap; }
  .main-matches .user-1,
  .main-matches .user-2,
  .main-matches .user-3,
  .main-matches .user-4 {
    width: 70px;
    height: 70px;
    background: black;
    position: absolute;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 270px;
    overflow: hidden;
    border: 1px solid grey; }
    .main-matches .user-1 img,
    .main-matches .user-2 img,
    .main-matches .user-3 img,
    .main-matches .user-4 img {
      width: 70px;
      border-radius: 270px;
      position: absolute;
      transition: 0.2s; }
      .main-matches .user-1 img:hover,
      .main-matches .user-2 img:hover,
      .main-matches .user-3 img:hover,
      .main-matches .user-4 img:hover {
        filter: grayscale(75%) blur(3px) opacity(60%); }
  .main-matches .fa-eye {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 27px;
    color: black;
    z-index: 0; }
  .main-matches .fa-plus-square-o {
    position: absolute;
    right: 20px;
    top: 17px;
    font-size: 35px;
    color: grey;
    z-index: 2; }
    .main-matches .fa-plus-square-o:hover {
      color: black; }
  .main-matches .match-container {
    padding: 5px 15px 5px 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px; }
    .main-matches .match-container h4 {
      font-weight: bold;
      text-align: center; }
    .main-matches .match-container .time {
      margin-top: 10px; }
    .main-matches .match-container p .fa {
      margin-left: 10px;
      margin-right: 5px; }
    .main-matches .match-container p .fa-map-marker {
      margin-left: 14px;
      margin-right: 6px; }
  .main-matches .user-1 {
    margin-left: 15px;
    margin-top: 58px;
    border: none; }
  .main-matches .user-2 {
    margin-left: 115px;
    margin-top: 58px;
    border: none; }
  .main-matches .user-3 {
    margin-left: 15px;
    margin-top: 152px; }
  .main-matches .user-4 {
    margin-left: 115px;
    margin-top: 152px; }
  .main-matches .li-match {
    margin: 5px; }
  .main-matches .header-main {
    position: absolute;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px 20px;
    border-radius: 5px;
    top: 243px;
    max-width: 469px;
    margin-left: 33px; }
  .main-matches .title-matches {
    display: flex;
    justify-content: space-between; }
  .main-matches .hr-today {
    max-width: 320px;
    border-top: 1px solid black;
    width: 100%;
    margin: 27px 15px; }
  .main-matches .container {
    padding: 0; }

.main-page {
  font-family: 'Raleway', sans-serif;
  background: yellowgreen;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden; }
  @media (min-width: 1200px) {
    .main-page .container {
      width: 1000px; } }
  .main-page .first-time {
    background: url("../../img/wallpaper-padel.png") center center fixed;
    background-size: cover;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 75px 0 #000; }
    .main-page .first-time h1 {
      margin-top: 10px; }
    .main-page .first-time .items-main {
      text-align: center;
      background: rgba(255, 255, 255, 0.5);
      padding: 15px; }
      .main-page .first-time .items-main .btn {
        margin: 10px; }

#main .gtco-cover a {
  color: white; }

@media (min-width: 769px) {
  #main .container {
    width: 100%; } }

@media (max-width: 991px) {
  #main #first-name {
    margin-bottom: 15px; }
  #main #gender {
    margin-bottom: 15px; } }

@media (min-width: 991px) {
  #main .left-input {
    padding-right: 5px; }
  #main .right-input {
    padding-left: 5px; } }

#main #gtco-header .form-wrap .tab-content {
  background-color: transparent; }

#main .log-in-container {
  margin: 0;
  padding: 0; }

#main #page .page-inner {
  max-width: 100%; }

#main .row-mt-15em {
  margin-top: 147px; }

#main #gtco-header .mt-text {
  margin-top: 0; }

#main .form-control {
  border-radius: 27px;
  height: 35px;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  color: white; }

#main input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: black !important; }

#main #gtco-header .form-wrap .tab-menu li.gtco-first a {
  border-top-left-radius: 0px;
  border-top-right-radius: 5px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background: transparent;
  color: white; }

#main #gtco-header .form-wrap .tab-menu li.gtco-second a {
  border-top-left-radius: 5px;
  border-top-right-radius: 0px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background: transparent;
  color: white; }

#main #gtco-header .form-wrap .tab-menu li.active a {
  color: yellowgreen;
  text-decoration: underline; }

#main #gtco-header .form-wrap .tab-content {
  padding-top: 20px; }

#main .label-login {
  color: white; }

#main #gtco-header .form-wrap {
  box-sizing: content-box;
  border: 5px solid #A1A1A1;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 0px;
  padding-top: 16px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px; }

#main .btn-success {
  float: right;
  border-radius: 27px;
  background: rgba(0, 179, 0, 0.3);
  border: none; }
