<form ng-submit="editProfile($event)">
<fieldset>
<legend>Edit your profile</legend>
	<div class="form-group">
		<label for="name">Name</label>
		<input ng-model="name" name="name" type="text" class="form-control" id="name" placeholder="Enter your fullname">
	</div>
	<div class="form-group">
		<label for="description">Description</label>
		<input ng-model="description" name="description"  type="text" class="form-control" id="description" placeholder="User description">
	</div>
	<div class="form-group">
		<label for="image">User Image</label>
		<input ng-model="image" name="image"  type="string" class="form-control" id="image" placeholder="Url Image">
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
	</fieldset>
</form>