<div id="main" style="background-color: black">
    <div class="container log-in-container">
        <div id="page">
            <div class="page-inner">
                <nav class="gtco-nav" role="navigation">
                    <div class="gtco-container">
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <div id="gtco-logo"><a href="">PADEL<span style="color: green">GO</span></a></div>
                            </div>
                        </div>
                    </div>
                </nav>
                <header id="gtco-header" class="gtco-cover" role="banner" style="background-image: url(img/padel-dark.jpg);
	background-attachment: fixed;
	background-repeat: repeat;
	background-size: cover;
	overflow-y: hidden; height:100vh;">
                    <div class="overlay"></div>
                    <div class="gtco-container">
                        <div class="row">
                            <div class="col-md-12 col-md-offset-0 text-left">
                                <div class="row row-mt-15em">
                                    <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
                                        <span class="intro-text-small">Welcome to PADELGO</span>
                                        <h1>Where padel connections happens.</h1>
                                    </div>
                                        <div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
                                    <div class="login-form-container">
                                    <div class="row">
                                    <ul class="tab-menu list-unstyled">
                                                <li class="active gtco-second"><a class="login-form-page" href="#!/login" data-tab="login">LOGIN</a></li>
                                                <li class=" gtco-first" ><a class="signup-form-page" href="#!/register"  data-tab="signup">SIGN UP</a></li>
                                            </ul>
                                            </div>
                                            <div class="tab-content-inner active" data-content="login">
                                                <form action="#" ng-submit="login($event)">
                                                    <div class="row form-group">
                                                        <div class="col-md-12">
                                                            <label class="label-login" for="username">USERNAME</label>
                                                            <input ng-model="username" type="text" class="form-control template-main" id="username" placeholder="Enter your username">
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col-md-12">
                                                            <label class="label-login" for="password">PASSWORD</label>
                                                            <input ng-model="password" type="password" class="form-control template-main" id="password" placeholder="Enter your password">
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col-md-12">
                                                            <button type="submit" class="btn btn-success">GO!</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
