<div class="main-page">
    <div class="first-time">
        <div class="items-main">
            <h1>WELCOME TO PADELGO!</h1>
            <hr class="divider">
            <p class="subtitle">Would you like to join someone's match in your city? Do you want to find who plays near you?</p>
            <a href="#!/matches" class="btn btn-success btn-lg">Find Matches</a>
            <a href="user-search.html" class="btn btn-warning btn-lg">Find Users</a>
            <a href="#!/user-profile" class="btn btn-danger btn-lg">User Profile</a>
        </div>
    </div>
</div>
