<div class="main-matches">
    <div class="container main-page-container">
        <!-- MODAL -->
        <div class="container">
            <!-- Modals -->
            <div ng-include src="'templates/includes/create-match.html'" ng-controller="MainController"></div>
        </div>
        <div class="header-matches">
        <div class="title-matches">
            <h2>Matches</h2>
            <p>Are you looking to join some matches near to you? Do you want to create a new match?</p>
            <p>Press the button "Create a new match" or click the "+" symbol to join someone's match</p>
        </div>
        <!-- Button trigger modal -->
        <button class="btn btn-success btn-lg button-match" title="Create a new match" data-toggle="modal" data-target="#create-match">
            <i class="fa fa-trophy"></i> Create your match!
        </button>
        </div>
        <hr>
        <ul class="list-unstyled matches-container">
            <li ng-repeat="match in matches" class="li-match">
                <div ng-include src="'templates/includes/edit-match.html'" ng-controller="MainController"></div>
                <div class="match-container">
                    <h4>{{ match.court }}</h4>
                    

                    <a href="" class="user-1 user-filled" data-toggle="tooltip">
                        <img ng-show="match.team1Left === 'Me'" src="img/admin5.jpg">
                        <img ng-show="match.team1Left === 'Team mate (male)'" src="img/male.jpg">
                        <img ng-show="match.team1Left === 'Team mate (female)'" src="img/female.jpg">
                        <img ng-show="match.team1Left === 'Empty'" src="img/blank.jpg">
                    </a>
                    <a href="" class="user-2 user-filled" data-toggle="tooltip">
                        <img ng-show="match.team1Right === 'Me'" src="img/admin5.jpg">
                        <img ng-show="match.team1Right === 'Team mate (male)'" src="img/male.jpg">
                        <img ng-show="match.team1Right === 'Team mate (female)'" src="img/female.jpg">
                        <img ng-show="match.team1Right === 'Empty'" src="img/blank.jpg">
                    </a>
                    <a href="" class="user-3 user-filled" data-toggle="tooltip">
                        <img ng-show="match.team2Left === 'Me'" src="img/admin5.jpg">
                        <img ng-show="match.team2Left === 'Team mate (male)'" src="img/male.jpg">
                        <img ng-show="match.team2Left === 'Team mate (female)'" src="img/female.jpg">
                        <img ng-show="match.team2Left === 'Empty'" src="img/blank.jpg">
                    </a>
                    <a href="" class="user-4 user-filled" data-toggle="tooltip">
                        <img ng-show="match.team2Right === 'Me'" src="img/admin5.jpg">
                        <img ng-show="match.team2Right === 'Team mate (male)'" src="img/male.jpg">
                        <img ng-show="match.team2Right === 'Team mate (female)'" src="img/female.jpg">
                        <img ng-show="match.team2Right === 'Empty'" src="img/blank.jpg">
                    </a>
                    <img class="img-responsive" src="img/padel-court-fancy-white.jpg" width="200px">
                    <p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i><span>{{ match.hour | date : "HH:mm" }} ({{match.duration}})</span></p>
                     <div class="navbar-right">
                        <div class="dropdown">
                            <button class="btn btn-link btn-xs dropdown-toggle " style="text-decoration:none;" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dd1" style="float: right;">
                                <li><a href="" role="button" data-toggle="modal" data-target="#editMatch_{{ match._id }}"><i class="fa fa-fw fa-edit" aria-hidden="true"></i> Edit</a></li>
                                <li><a href="" role="button" ng-click="removeMatch(match._id)"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
                            </ul>
                        </div>
                    </div>
                    <p class="date"><i class="fa fa-calendar" aria-hidden="true"></i><span>
                    {{ match.date | date : "dd - MM - yyyy" }}</span></p>
                    <p></p>
                    <p class="price"><i class="fa fa-eur" aria-hidden="true"></i><span>{{ match.price }}€ ({{match.price/4}} € per player)</span></p>
                    <p class="users-level"><i class="fa fa-users" aria-hidden="true"></i><span>Level: {{ match.levelFrom }} ({{match.gender}})</span></p>
                    <p class="location"><i class="fa fa-map-marker" aria-hidden="true"></i><span>{{match.location}}</span></p>
                </div>
            </li>
        </ul>
    </div>
</div>
