<div class="main-matches">
    <div class="container main-page-container">
        <!-- MODAL -->
        <div class="container">
            <!-- Button trigger modal -->
            <button class="btn btn-success btn-lg button-match" title="Create a new match" data-toggle="modal" data-target="#create-match">
                <i class="fa fa-bullseye"></i> Create your match!
            </button>
            <!-- Modal -->
            <div class="form-group">
                                    <div class="input-group clockpicker">
                                        <input type="text" class="form-control" value="18:00">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>
            <div class="modal fade" id="create-match" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Match creator</h4>
                        </div>
                        <div class="modal-body">
                            <p>Write all match info.</p>
                            <div class="form-group">
                                <label class="label-court" for="location">Where?</label>
                                <select class="form-control" id="location">
                                    <option>Barcelona, Spain</option>
                                </select>
                                <label class="label-club" for="club">Club</label>
                                <select class="form-control" id="club">
                                    <option>Club Polo</option>
                                    <option>Tennis Vallparc</option>
                                    <option>Club Padel Barcelona</option>
                                </select>
                                <div class="form-group">
                                    <!-- Date input -->
                                    <label class="control-label" for="date">Date</label>
                                    <input class="form-control" id="date" name="date" placeholder="DD/MM/YYY" type="text" />
                                </div>
                                <div class="form-group">
                                    <div class="input-group clockpicker">
                                        <input type="text" class="form-control" value="18:00">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>
                                <label class="label-duration" for="duration">Duration</label>
                                <select class="form-control" id="duration">
                                    <option>1 hour</option>
                                    <option>1 hour 15 min</option>
                                    <option>1 hour 30 min</option>
                                    <option>1 hour 45 min</option>
                                    <option>2 hours</option>
                                </select>
                                <label class="label-price" for="price">Price (total)</label>
                                <div class="input-group">
                                    <span class="input-group-addon">€</span>
                                    <input type="number" value="0" min="0" step="0.5" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" id="c2" />
                                </div>
                                <h5>Match level</h5>
                                <label class="label-from" for="from">From</label>
                                <select class="form-control" id="from">
                                    <option>A+</option>
                                    <option>A</option>
                                    <option>B+</option>
                                    <option>B</option>
                                    <option>C</option>
                                    <option>D</option>
                                </select>
                                <label class="label-to" for="to">To</label>
                                <select class="form-control" id="to">
                                    <option>A+</option>
                                    <option>A</option>
                                    <option>B+</option>
                                    <option>B</option>
                                    <option>C</option>
                                    <option>D</option>
                                </select>
                                <label class="label-type" for="type">Type</label>
                                <select class="form-control" id="type">
                                    <option>Masculine</option>
                                    <option>Femenine</option>
                                    <option>Mixed</option>
                                </select>
                                <h5>Players</h5>
                                <h6>Team 1</h6>
                                <label class="label-team1-left" for="team1-left">Left position</label>
                                <select class="form-control" id="team1-left">
                                    <option>Empty</option>
                                    <option>Me</option>
                                    <option>Team mate (male)</option>
                                    <option>Team mate (female)</option>
                                </select>
                                <label class="label-team1-right" for="team1-right">Right position</label>
                                <select class="form-control" id="team1-right">
                                    <option>Empty</option>
                                    <option>Me</option>
                                    <option>Team mate (male)</option>
                                    <option>Team mate (female)</option>
                                </select>
                                <h6>Team 2</h6>
                                <label class="label-team2-left" for="team2-left">Left position</label>
                                <select class="form-control" id="team2-left">
                                    <option>Empty</option>
                                    <option>Me</option>
                                    <option>Team mate (male)</option>
                                    <option>Team mate (female)</option>
                                </select>
                                <label class="label-team2-right" for="team2-right">Right position</label>
                                <select class="form-control" id="team2-right">
                                    <option>Empty</option>
                                    <option>Me</option>
                                    <option>Team mate (male)</option>
                                    <option>Team mate (female)</option>
                                </select>
                            </div>
                            <form action="" method="post">
                                <button type="submit" value="sub" name="sub" class="btn btn-primary"><i class="fa fa-share"></i> Create match!</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="title-matches">
            <h2>Today's matches</h2>
        </div>
        <ul class="matches-container">
            <li class="list-unstyled li-match">
                <div class="match-container">
                    <h4>Club Padel Barcelona</h4>
                    <a href="user-profile.html" class="user-1 user-filled" data-toggle="tooltip" title="Pablo Lima"><i class="fa fa-eye"></i><img src="img/lima.jpg"></a>
                    <a href="user-profile.html" class="user-2 user-filled" data-toggle="tooltip" title="Fernando Belasteguin"><i class="fa fa-eye"></i><img src="img/bela.jpg"></a>
                    <a href="#" class="user-3 user-empty" data-toggle="tooltip" data-placement="bottom" title="Join match"><i class="fa  fa-plus-square-o"></i><img src="img/blank.jpg"></a>
                    <a href="#" class="user-4 user empty" data-toggle="tooltip" data-placement="bottom" title="Join match"><i class="fa  fa-plus-square-o"></i><img src="img/blank.jpg"></a>
                    <img class="img-responsive" src="img/padel-court2.jpg" width="200px">
                    <p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i><span>18:00 - 19:30</span></p>
                    <p class="date"><i class="fa fa-calendar" aria-hidden="true"></i><span>27 - 11 - 2017</span></p>
                    <p class="users-level"><i class="fa fa-users" aria-hidden="true"></i><span>A+/A players</span></p>
                    <p class="location"><i class="fa fa-map-marker" aria-hidden="true"></i><span>Barcelona, Spain</span></p>
                </div>
            </li>
            <li class="list-unstyled li-match">
                <div class="match-container">
                    <h4>Tennis Vallparc</h4>
                    <a href="user-profile.html" class="user-1 user-filled" data-toggle="tooltip" title="Pablo Lima"><i class="fa fa-eye"></i><img src="img/lima.jpg"></a>
                    <a href="user-profile.html" class="user-2 user-filled" data-toggle="tooltip" title="Fernando Belasteguin"><i class="fa fa-eye"></i><img src="img/bela.jpg"></a>
                    <a href="#" class="user-3 user-empty" data-toggle="tooltip" data-placement="bottom" title="Join match"><i class="fa  fa-plus-square-o"></i><img src="img/blank.jpg"></a>
                    <a href="#" class="user-4 user empty" data-toggle="tooltip" data-placement="bottom" title="Join match"><i class="fa  fa-plus-square-o"></i><img src="img/blank.jpg"></a>
                    <img class="img-responsive" src="img/padel-court2.jpg" width="200px">
                    <p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i><span>18:00 - 19:30</span></p>
                    <p class="date"><i class="fa fa-calendar" aria-hidden="true"></i><span>27 - 11 - 2017</span></p>
                    <p class="users-level"><i class="fa fa-users" aria-hidden="true"></i><span>A+/A players</span></p>
                    <p class="location"><i class="fa fa-map-marker" aria-hidden="true"></i><span>Barcelona, Spain</span></p>
                </div>
            </li>
            <li class="list-unstyled li-match">
                <div class="match-container">
                    <h4>Club Tennis Polo</h4>
                    <a href="user-profile.html" class="user-1 user-filled" data-toggle="tooltip" title="Pablo Lima"><i class="fa fa-eye"></i><img src="img/lima.jpg"></a>
                    <a href="user-profile.html" class="user-2 user-filled" data-toggle="tooltip" title="Fernando Belasteguin"><i class="fa fa-eye"></i><img src="img/bela.jpg"></a>
                    <a href="#" class="user-3 user-empty" data-toggle="tooltip" data-placement="bottom" title="Join match"><i class="fa  fa-plus-square-o"></i><img src="img/blank.jpg"></a>
                    <a href="#" class="user-4 user empty" data-toggle="tooltip" data-placement="bottom" title="Join match"><i class="fa  fa-plus-square-o"></i><img src="img/blank.jpg"></a>
                    <img class="img-responsive" src="img/padel-court2.jpg" width="200px">
                    <p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i><span>18:00 - 19:30</span></p>
                    <p class="date"><i class="fa fa-calendar" aria-hidden="true"></i><span>27 - 11 - 2017</span></p>
                    <p class="users-level"><i class="fa fa-users" aria-hidden="true"></i><span>A+/A players</span></p>
                    <p class="location"><i class="fa fa-map-marker" aria-hidden="true"></i><span>Barcelona, Spain</span></p>
                </div>
            </li>
            <li class="list-unstyled li-match">
                <div class="match-container">
                    <h4>Leven Park</h4>
                    <a href="user-profile.html" class="user-1 user-filled" data-toggle="tooltip" title="Pablo Lima"><i class="fa fa-eye"></i><img src="img/lima.jpg"></a>
                    <a href="user-profile.html" class="user-2 user-filled" data-toggle="tooltip" title="Fernando Belasteguin"><i class="fa fa-eye"></i><img src="img/bela.jpg"></a>
                    <a href="#" class="user-3 user-empty" data-toggle="tooltip" data-placement="bottom" title="Join match"><i class="fa  fa-plus-square-o"></i><img src="img/blank.jpg"></a>
                    <a href="#" class="user-4 user empty" data-toggle="tooltip" data-placement="bottom" title="Join match"><i class="fa  fa-plus-square-o"></i><img src="img/blank.jpg"></a>
                    <img class="img-responsive" src="img/padel-court2.jpg" width="200px">
                    <p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i><span>18:00 - 19:30</span></p>
                    <p class="date"><i class="fa fa-calendar" aria-hidden="true"></i><span>27 - 11 - 2017</span></p>
                    <p class="users-level"><i class="fa fa-users" aria-hidden="true"></i><span>A+/A players</span></p>
                    <p class="location"><i class="fa fa-map-marker" aria-hidden="true"></i><span>Barcelona, Spain</span></p>
                </div>
            </li>
            <li class="list-unstyled li-match">
                <div class="match-container">
                    <h4>Club Padel Barcelona</h4>
                    <a href="user-profile.html" class="user-1 user-filled" data-toggle="tooltip" title="Pablo Lima"><i class="fa fa-eye"></i><img src="img/lima.jpg"></a>
                    <a href="user-profile.html" class="user-2 user-filled" data-toggle="tooltip" title="Fernando Belasteguin"><i class="fa fa-eye"></i><img src="img/bela.jpg"></a>
                    <a href="#" class="user-3 user-empty" data-toggle="tooltip" data-placement="bottom" title="Join match"><i class="fa  fa-plus-square-o"></i><img src="img/blank.jpg"></a>
                    <a href="#" class="user-4 user empty" data-toggle="tooltip" data-placement="bottom" title="Join match"><i class="fa  fa-plus-square-o"></i><img src="img/blank.jpg"></a>
                    <img class="img-responsive" src="img/padel-court2.jpg" width="200px">
                    <p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i><span>18:00 - 19:30</span></p>
                    <p class="date"><i class="fa fa-calendar" aria-hidden="true"></i><span>27 - 11 - 2017</span></p>
                    <p class="users-level"><i class="fa fa-users" aria-hidden="true"></i><span>A+/A players</span></p>
                    <p class="location"><i class="fa fa-map-marker" aria-hidden="true"></i><span>Barcelona, Spain</span></p>
                </div>
            </li>
            <li class="list-unstyled li-match">
                <div class="match-container">
                    <h4>Tennis Vallparc</h4>
                    <a href="user-profile.html" class="user-1 user-filled" data-toggle="tooltip" title="Pablo Lima"><i class="fa fa-eye"></i><img src="img/lima.jpg"></a>
                    <a href="user-profile.html" class="user-2 user-filled" data-toggle="tooltip" title="Fernando Belasteguin"><i class="fa fa-eye"></i><img src="img/bela.jpg"></a>
                    <a href="#" class="user-3 user-empty" data-toggle="tooltip" data-placement="bottom" title="Join match"><i class="fa  fa-plus-square-o"></i><img src="img/blank.jpg"></a>
                    <a href="#" class="user-4 user empty" data-toggle="tooltip" data-placement="bottom" title="Join match"><i class="fa  fa-plus-square-o"></i><img src="img/blank.jpg"></a>
                    <img class="img-responsive" src="img/padel-court2.jpg" width="200px">
                    <p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i><span>18:00 - 19:30</span></p>
                    <p class="date"><i class="fa fa-calendar" aria-hidden="true"></i><span>27 - 11 - 2017</span></p>
                    <p class="users-level"><i class="fa fa-users" aria-hidden="true"></i><span>A+/A players</span></p>
                    <p class="location"><i class="fa fa-map-marker" aria-hidden="true"></i><span>Barcelona, Spain</span></p>
                </div>
            </li>
            <li class="list-unstyled li-match">
                <div class="match-container">
                    <h4>Club Tennis Polo</h4>
                    <a href="user-profile.html" class="user-1 user-filled" data-toggle="tooltip" title="Pablo Lima"><i class="fa fa-eye"></i><img src="img/lima.jpg"></a>
                    <a href="user-profile.html" class="user-2 user-filled" data-toggle="tooltip" title="Fernando Belasteguin"><i class="fa fa-eye"></i><img src="img/bela.jpg"></a>
                    <a href="#" class="user-3 user-empty" data-toggle="tooltip" data-placement="bottom" title="Join match"><i class="fa  fa-plus-square-o"></i><img src="img/blank.jpg"></a>
                    <a href="#" class="user-4 user empty" data-toggle="tooltip" data-placement="bottom" title="Join match"><i class="fa  fa-plus-square-o"></i><img src="img/blank.jpg"></a>
                    <img class="img-responsive" src="img/padel-court2.jpg" width="200px">
                    <p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i><span>18:00 - 19:30</span></p>
                    <p class="date"><i class="fa fa-calendar" aria-hidden="true"></i><span>27 - 11 - 2017</span></p>
                    <p class="users-level"><i class="fa fa-users" aria-hidden="true"></i><span>A+/A players</span></p>
                    <p class="location"><i class="fa fa-map-marker" aria-hidden="true"></i><span>Barcelona, Spain</span></p>
                </div>
            </li>
            <li class="list-unstyled li-match">
                <div class="match-container">
                    <h4>Leven Park</h4>
                    <a href="user-profile.html" class="user-1 user-filled" data-toggle="tooltip" title="Pablo Lima"><i class="fa fa-eye"></i><img src="img/lima.jpg"></a>
                    <a href="user-profile.html" class="user-2 user-filled" data-toggle="tooltip" title="Fernando Belasteguin"><i class="fa fa-eye"></i><img src="img/bela.jpg"></a>
                    <a href="#" class="user-3 user-empty" data-toggle="tooltip" data-placement="bottom" title="Join match"><i class="fa  fa-plus-square-o"></i><img src="img/blank.jpg"></a>
                    <a href="#" class="user-4 user empty" data-toggle="tooltip" data-placement="bottom" title="Join match"><i class="fa  fa-plus-square-o"></i><img src="img/blank.jpg"></a>
                    <img class="img-responsive" src="img/padel-court2.jpg" width="200px">
                    <p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i><span>18:00 - 19:30</span></p>
                    <p class="date"><i class="fa fa-calendar" aria-hidden="true"></i><span>27 - 11 - 2017</span></p>
                    <p class="users-level"><i class="fa fa-users" aria-hidden="true"></i><span>A+/A players</span></p>
                    <p class="location"><i class="fa fa-map-marker" aria-hidden="true"></i><span>Barcelona, Spain</span></p>
                </div>
            </li>
        </ul>
    </div>    
</div>
