<div class="user-profile">
    <div class="mainbody container">
        <div class="row">
            <div class="col-lg-3 col-md-3 left-block-container">
                <div class="panel panel-default">
                    <div class="panel-body left-user-block">
                        <div class="media">
                            <div align="center">
                                <img class="thumbnail img-responsive user-image" src="img/bela.jpg" width="300px" height="300px">
                            </div>
                            <div class="media-body">
                                <h4>Location</h4>
                                <p>Barcelona, Spain.</p>
                                <div class="user-gender">
                                    <h4>Gender</h4>
                                    <p>Male</p>
                                </div>
                                <div class="user-age">
                                    <h4>Age</h4>
                                    <p>35</p>
                                </div>
                                <h4>Position</h4>
                                <p>Left side (preferably)</p>
                                <h4>Padel experience</h4>
                                <p>Playing from 1993</p>
                                <h4>Level</h4>
                                <p>Professional (A+)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 right-block-container">
                <div class="panel panel-default bottom-user-block">
                    <div class="panel-body">
                        <h1 class="panel-title">Fernando Belasteguin <span> A+</span></h1>
                        <a href="#" class="btn btn-link pull-right" style="text-decoration:none;">Send a message <i class="fa fa-lg fa-envelope-o" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Message"></i></a>
                        <p>Unceiled toxicity Jocelyn slipsloppism perisporiaceous scarn cultured colewort potleg apophorometer copalche hyperbranchia gypsy Mary tiremaking nitranilic naively variolate pectinately minoress galewort sclerosed regrow worrisomely.</p>
                        <!-- {{profile.description}} -->
                        <div class="hashtags">
                            <i class="fa fa-tags" aria-hidden="true"></i> <a href="/tags/diaspora" class="tag">#royalpadel</a> <a href="/tags/hashtag" class="tag">#barcelona</a> <a href="/tags/caturday" class="tag">#competition</a>
                        </div>
                    </div>
                </div>
                <!-- Simple post content example. -->
                <div class="panel panel-default panel-body media">
                    <div class="pull-left">
                        <a href="#">
                            <img class="media-object img-circle" src="img/bela.jpg" width="35px" height="35px" style="margin-left:3px; margin-right:-5px;">
                        </a>
                    </div>
                    <div class="media-body">
                        <textarea class="form-control" rows="2" placeholder="Post your ideas"></textarea>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body panel-post">
                        <div class="pull-left">
                            <a href="#">
                                <img class="media-object img-circle" src="img/bela.jpg" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
                            </a>
                        </div>
                        <h4 class="user-name-post"><a href="#" style="text-decoration:none;"><strong>Fernando Belasteguin</strong></a> – <small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> 42 minutes ago</i></a></small></h4>
                        <div class="navbar-right">
                            <div class="dropdown">
                                <button class="btn btn-link btn-xs dropdown-toggle " style="text-decoration:none;" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dd1" style="float: right;">
                                    <li><a href="#"><i class="fa fa-fw fa-edit" aria-hidden="true"></i> Edit</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-content">
                            <p>Simple post content example.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel gravida metus, non ultrices sapien. Morbi odio metus, dapibus non nibh id amet.</p>
                        </div>
                        <hr>
                        <div>
                            <div class="pull-right btn-group-xs">
                                <a class="btn btn-default btn-xs"><i class="fa fa-heart" aria-hidden="true"></i> Like</a>
                            </div>
                            <div class="pull-left">
                                <p class="text-muted" style="margin-left:5px;"><i class="fa fa-globe" aria-hidden="true"></i> Public</p>
                            </div>
                            <br>
                        </div>
                        <hr>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#">
                                    <img class="media-object img-circle" src="img/bela.jpg" width="35px" height="35px" style="margin-left:3px; margin-right:-5px;">
                                </a>
                            </div>
                            <div class="media-body">
                                <textarea class="form-control" rows="1" placeholder="Comment"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
