<div class="user-search">
    <div class="container container-search">
        <h1>Users registered</h1>
        <ul class="user-list">
            <li class="list-unstyled li-user">
                <div class="upper-background">
                </div>
                <div class="user-container">
                    <a class="links" href="#!/user-profile">
                        <img class="img-responsive user-image" src="img/bela.jpg" width="140px"></a>
                    <h4>Fernando Belasteguin</h4>
                    <p class="side-position">Left-side player (preferably)</p>
                    <p class="location"><i class="fa fa-map-marker" aria-hidden="true"></i><span> Barcelona, Spain</span></p>
                </div>
            </li>
            <li class="list-unstyled li-user">
                <div class="upper-background">
                </div>
                <div class="user-container">
                    <a class="links" href="#!/user-profile">
                        <img class="img-responsive user-image" src="img/paquito.jpg" width="140px"></a>
                    <h4>Paquito Navarro</h4>
                    <p class="side-position">Left-side player</p>
                    <p class="location"><i class="fa fa-map-marker" aria-hidden="true"></i><span> Barcelona, Spain</span></p>
                </div>
            </li>
            <li class="list-unstyled li-user">
                <div class="upper-background">
                </div>
                <div class="user-container">
                    <a class="links" href="#!/user-profile">
                        <img class="img-responsive user-image" src="img/sanyo.jpg" width="140px"></a>
                    <h4>Sanyo Gutierrez</h4>
                    <p class="side-position">Right-side player</p>
                    <p class="location"><i class="fa fa-map-marker" aria-hidden="true"></i><span> Barcelona, Spain</span></p>
                </div>
            </li>
            <li class="list-unstyled li-user">
                <div class="upper-background">
                </div>
                <div class="user-container">
                    <a class="links" href="#!/user-profile">
                        <img class="img-responsive user-image" src="img/lima.jpg" width="140px"></a>
                    <h4>Pablo Lima</h4>
                    <p class="side-position">Right-side player (preferably)</p>
                    <p class="location"><i class="fa fa-map-marker" aria-hidden="true"></i><span> Barcelona, Spain</span></p>
                </div>
            </li>
            <li class="list-unstyled li-user">
                <div class="upper-background">
                </div>
                <div class="user-container">
                    <a class="links" href="#!/user-profile">
                        <img class="img-responsive user-image" src="img/female3.jpg" width="140px"></a>
                    <h4>Marta Ortega</h4>
                    <p class="side-position">Left-side player</p>
                    <p class="location"><i class="fa fa-map-marker" aria-hidden="true"></i><span> Barcelona, Spain</span></p>
                </div>
            </li>
            <li class="list-unstyled li-user">
                <div class="upper-background">
                </div>
                <div class="user-container">
                    <a class="links" href="#!/user-profile">
                        <img class="img-responsive user-image" src="https://avatars1.githubusercontent.com/u/4604862?v=3&s=460" width="140px"></a>
                    <h4>Carles Serna</h4>
                    <p class="side-position">Left-side player (preferably)</p>
                    <p class="location"><i class="fa fa-map-marker" aria-hidden="true"></i><span> Barcelona, Spain</span></p>
                </div>
            </li>
            <li class="list-unstyled li-user">
                <div class="upper-background">
                </div>
                <div class="user-container">
                    <a class="links" href="#!/user-profile">
                        <img class="img-responsive user-image" src="img/male.jpg" width="140px"></a>
                    <h4>Jaume Regas</h4>
                    <p class="side-position">Left-side player</p>
                    <p class="location"><i class="fa fa-map-marker" aria-hidden="true"></i><span> Barcelona, Spain</span></p>
                </div>
            </li>
            <li class="list-unstyled li-user">
                <div class="upper-background">
                </div>
                <div class="user-container">
                    <a class="links" href="#!/user-profile">
                        <img class="img-responsive user-image" src="img/female.jpg" width="140px"></a>
                    <h4>Berta Rodes</h4>
                    <p class="side-position">Right-side player</p>
                    <p class="location"><i class="fa fa-map-marker" aria-hidden="true"></i><span> Barcelona, Spain</span></p>
                </div>
            </li>
            <li class="list-unstyled li-user">
                <div class="upper-background">
                </div>
                <div class="user-container">
                    <a class="links" href="#!/user-profile">
                        <img class="img-responsive user-image" src="img/male.jpg" width="140px"></a>
                    <h4>Alex Garcia</h4>
                    <p class="side-position">Left-side player</p>
                    <p class="location"><i class="fa fa-map-marker" aria-hidden="true"></i><span> Barcelona, Spain</span></p>
                </div>
            </li>
            <li class="list-unstyled li-user">
                <div class="upper-background">
                </div>
                <div class="user-container">
                    <a class="links" href="#!/user-profile">
                        <img class="img-responsive user-image" src="img/female.jpg" width="140px"></a>
                    <h4>Cristina Sanchez</h4>
                    <p class="side-position">Right-side player (preferably)</p>
                    <p class="location"><i class="fa fa-map-marker" aria-hidden="true"></i><span> Barcelona, Spain</span></p>
                </div>
            </li>
            <li class="list-unstyled li-user">
                <div class="upper-background">
                </div>
                <div class="user-container">
                    <a class="links" href="#!/user-profile">
                        <img class="img-responsive user-image" src="img/female.jpg" width="140px"></a>
                    <h4>Silvia Rodriguez</h4>
                    <p class="side-position">Right-side player</p>
                    <p class="location"><i class="fa fa-map-marker" aria-hidden="true"></i><span> Barcelona, Spain</span></p>
                </div>
            </li>
        </ul>
    </div>
</div>
