#main {
    @media (min-width: 769px) {
        .container {
            width: 100%;
        }
    }
    @media (max-width: 991px) {
        #first-name {
            margin-bottom: 15px;
        }
        #gender {
            margin-bottom: 15px;
        }
        #gtco-header .mt-text {
            text-align: center;
        }
    }
    @media (min-width: 991px) {
        .left-input {
            padding-right: 5px;
        }
        .right-input {
            padding-left: 5px;
        }
    }
    .gtco-cover a {
        color: white;
    }
    #gtco-header {
    background: black;
}
    #gtco-header .form-wrap .tab-content {
        background-color: transparent;
    }
    .log-in-container {
        margin: 0;
        padding: 0;
    }
    #page .page-inner {
        max-width: 100%;
    }
    .row-mt-15em {
        margin-top: 147px;
    }
    #gtco-header .mt-text {
        margin-top: 0;
    }
    .form-control {
        border-radius: 27px;
        height: 35px;
        border: none;
        background-color: rgba(255, 255, 255, 0.6);
        color: white;
    }
    input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: black !important;
    }
    #gtco-header .form-wrap .tab-menu li.gtco-first a {
        border-top-left-radius: 0px;
        border-top-right-radius: 5px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        background: transparent;
        color: white;
    }
    #gtco-header .form-wrap .tab-menu li.gtco-second a {
        border-top-left-radius: 5px;
        border-top-right-radius: 0px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        background: transparent;
        color: white;
    }
    #gtco-header .form-wrap .tab-menu li.active a {
        color: yellowgreen;
        text-decoration: underline;
    }
    #gtco-header .form-wrap .tab-content {
        padding-top: 20px;
    }
    .label-login {
        color: white;
    }
    .animate-box {
        margin-right: 0;
    }
    #gtco-header .form-wrap {
        box-sizing: content-box;
        border: 5px solid #A1A1A1;
        background-color: rgba(255, 255, 255, 0.2);
        margin-top: 0px;
        padding-top: 16px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 0px;
    }
    .btn-success {
        float: right;
        border-radius: 27px;
        background: rgba(0, 179, 0, 0.3);
        border: none;
    }
    #gtco-header.gtco-cover {
        height: 100vh !important;
    }
}
// NEW SASS
.login-form-container {
    border: 5px solid white;
    padding: 25px;
    max-width: 340px;
    margin: 0 auto;
}
.tab-menu {
    display: flex;
    justify-content: space-around;
    li {
        display: inline-block;
    }
}