.main-page {
    font-family: 'Raleway', sans-serif;
    background: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    @media (min-width: 1200px) {
        .container {
            width: 1000px;
        }
    }
    .first-time {
        background: url("../../img/wallpaper-padel3.png") center center fixed;
        background-size: cover;
        height: 87vh;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 75px 0 #000;
        h1 {
            margin-top: 10px;
        }
        .items-main {
            text-align: center;
            border: 5px solid white;
            color: white;
            margin: 10px;
            background: rgba(255, 255, 255, 0.1);
            padding: 15px;
            .btn {
                margin: 10px;
                background: none;
                border: 1px solid white;
                border-radius: 0px;
                transition: 0.2s;
                &:hover {
                    background: rgba(255, 255, 255, 0.2);
                    transform: scale(1.05);
                }
            }
        }
    }
}
