.user-profile {
    font-family: 'Raleway', sans-serif;
    background-size: cover;
    @media (min-width: 1200px) {
        .container {
            width: 1000px;
        }
        .left-block-container {
            width: 27%;
        }
        .right-block-container {
            width: 73%;
        }
    }
    @media (max-width: 767px) {
        .left-block-container {
            margin-right: 10px;
            .media-body {
                max-width: 250px;
                display: block;
                margin: 0 auto;
            }
        }

    }
    .mainbody {
        background: #c6d2e4;
    }
    .dropdown-toggle {
        margin-right: 15px;
        font-size: 16px;
    }
    .user-name-post {
        display: inline-block;
    }
    .panel-title {
        font-weight: bold;
        font-size: 30px;
        display: inline-block;
        margin-bottom: 10px;
    }
    .brand_network {
        color: #d4d4d4;
        float: left;
        position: absolute;
        left: 70px;
        top: 30px;
        font-size: smaller;
    }
    .post-content {
        margin-top: 27px;
        margin-left: 10px;
    }
    .badge-important {
        margin-top: 3px;
        margin-left: 25px;
        position: absolute;
    }
    .left-block-container,
    .right-block-container {
        padding: 0;
    }
    .left-block-container {
        h4 {
            font-weight: bold;
            font-size: 16px;
            border-bottom: 1px solid grey;
            padding-bottom: 5px;
        }
        .user-gender {
            display: inline-block;
            width: 45%;
        }
        .user-age {
            display: inline-block;
            float: right;
            width: 45%;
        }
    }
    .right-block-container {
        padding-right: 10px;
    }
    .bottom-user-block {
        margin-bottom: 10px;
    }
    .panel-default {
        background-color: $block-color;
        border: none;
        margin: 10px 0 10px 10px;
    }
    .user-image {
        background-color: $border-green;
        border-color: $border-green;
        margin-bottom: 10px;
    }
    .panel-post {
        padding-top: 22px;
        padding-left: 22px;
    }
}