@media (min-width: 769px) {
  #main .container {
    width: 100%; } }

@media (max-width: 991px) {
  #main #first-name {
    margin-bottom: 15px; }
  #main #gender {
    margin-bottom: 15px; }
  #main #gtco-header .mt-text {
    text-align: center; } }

@media (min-width: 991px) {
  #main .left-input {
    padding-right: 5px; }
  #main .right-input {
    padding-left: 5px; } }

#main .gtco-cover a {
  color: white; }

#main #gtco-header {
  background: black; }

#main #gtco-header .form-wrap .tab-content {
  background-color: transparent; }

#main .log-in-container {
  margin: 0;
  padding: 0; }

#main #page .page-inner {
  max-width: 100%; }

#main .row-mt-15em {
  margin-top: 147px; }

#main #gtco-header .mt-text {
  margin-top: 0; }

#main .form-control {
  border-radius: 27px;
  height: 35px;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  color: white; }

#main input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: black !important; }

#main #gtco-header .form-wrap .tab-menu li.gtco-first a {
  border-top-left-radius: 0px;
  border-top-right-radius: 5px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background: transparent;
  color: white; }

#main #gtco-header .form-wrap .tab-menu li.gtco-second a {
  border-top-left-radius: 5px;
  border-top-right-radius: 0px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background: transparent;
  color: white; }

#main #gtco-header .form-wrap .tab-menu li.active a {
  color: yellowgreen;
  text-decoration: underline; }

#main #gtco-header .form-wrap .tab-content {
  padding-top: 20px; }

#main .label-login {
  color: white; }

#main .animate-box {
  margin-right: 0; }

#main #gtco-header .form-wrap {
  box-sizing: content-box;
  border: 5px solid #A1A1A1;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 0px;
  padding-top: 16px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px; }

#main .btn-success {
  float: right;
  border-radius: 27px;
  background: rgba(0, 179, 0, 0.3);
  border: none; }

.login-form-container {
  border: 5px solid white;
  padding: 25px;
  max-width: 340px;
  margin: 0 auto; }

.tab-menu {
  display: flex;
  justify-content: space-around; }
  .tab-menu li {
    display: inline-block; }

.main-page {
  font-family: 'Raleway', sans-serif;
  background: white;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden; }
  @media (min-width: 1200px) {
    .main-page .container {
      width: 1000px; } }
  .main-page .first-time {
    background: url("../../img/wallpaper-padel3.png") center center fixed;
    background-size: cover;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 75px 0 #000; }
    .main-page .first-time h1 {
      margin-top: 10px; }
    .main-page .first-time .items-main {
      text-align: center;
      border: 5px solid white;
      color: white;
      margin: 10px;
      background: rgba(255, 255, 255, 0.1);
      padding: 15px; }
      .main-page .first-time .items-main .btn {
        margin: 10px;
        background: none;
        border: 1px solid white;
        border-radius: 0px;
        transition: 0.2s; }
        .main-page .first-time .items-main .btn:hover {
          background: rgba(255, 255, 255, 0.2);
          transform: scale(1.05); }

.main-matches {
  font-family: 'Raleway', sans-serif;
  background: #bbd7d5;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 1200px) {
    .main-matches .container {
      width: 1000px; } }
  .main-matches .main-page-container {
    background: rgba(255, 255, 255, 0.25); }
  .main-matches h1,
  .main-matches h2 {
    text-align: center;
    margin-top: 10px; }
  .main-matches .subtitle {
    text-align: center;
    padding: 0 50px; }
  .main-matches .divider {
    margin: 20px 70px;
    border-color: grey; }
  .main-matches .matches-container {
    display: flex;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap; }
  .main-matches .user-1,
  .main-matches .user-2,
  .main-matches .user-3,
  .main-matches .user-4 {
    width: 70px;
    height: 70px;
    background: black;
    position: absolute;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 270px;
    overflow: hidden;
    border: 1px solid grey; }
    .main-matches .user-1 img,
    .main-matches .user-2 img,
    .main-matches .user-3 img,
    .main-matches .user-4 img {
      width: 70px;
      border-radius: 270px;
      position: absolute;
      transition: 0.2s; }
      .main-matches .user-1 img:hover,
      .main-matches .user-2 img:hover,
      .main-matches .user-3 img:hover,
      .main-matches .user-4 img:hover {
        filter: grayscale(75%) blur(3px) opacity(60%); }
  .main-matches .fa-eye {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 27px;
    color: black;
    z-index: 0; }
  .main-matches .ionicons {
    position: absolute;
    right: 23px;
    top: 16px;
    font-size: 35px;
    color: grey;
    z-index: 2; }
  .main-matches .match-container {
    padding: 5px 15px 5px 15px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px; }
    .main-matches .match-container h4 {
      font-weight: bold;
      text-align: center; }
    .main-matches .match-container .time {
      margin-top: 10px;
      display: inline-block; }
    .main-matches .match-container .navbar-right {
      margin-right: 0;
      margin-top: 7px;
      font-size: 15px;
      color: grey;
      display: inline-block;
      float: right; }
      .main-matches .match-container .navbar-right .dropdown-menu {
        min-width: 0; }
        .main-matches .match-container .navbar-right .dropdown-menu a:hover {
          background-color: lightgrey; }
      .main-matches .match-container .navbar-right #dd1 {
        color: #586D6E; }
    .main-matches .match-container p .fa {
      margin-left: 10px;
      margin-right: 5px; }
    .main-matches .match-container p .fa-map-marker {
      margin-left: 14px;
      margin-right: 6px; }
    .main-matches .match-container .edit-btn,
    .main-matches .match-container .remove-btn {
      background: none;
      border: 1px solid grey;
      color: grey; }
      .main-matches .match-container .edit-btn:hover,
      .main-matches .match-container .remove-btn:hover {
        background-color: rgba(255, 255, 255, 0.7); }
  .main-matches .user-1 {
    margin-left: 15px;
    margin-top: 58px;
    border: none; }
  .main-matches .user-2 {
    margin-left: 115px;
    margin-top: 58px;
    border: none; }
  .main-matches .user-3 {
    margin-left: 15px;
    margin-top: 152px; }
  .main-matches .user-4 {
    margin-left: 115px;
    margin-top: 152px; }
  .main-matches .li-match {
    margin: 5px; }
  .main-matches .header-main {
    position: absolute;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px 20px;
    border-radius: 5px;
    top: 243px;
    max-width: 469px;
    margin-left: 33px; }
  .main-matches .title-matches h2 {
    text-align: center; }
  .main-matches .container {
    padding: 0; }
  .main-matches .button-match {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px; }
  .main-matches .modal-content {
    background-color: #f8f8f8;
    max-width: 632px; }
    .main-matches .modal-content .modal-title {
      text-align: center; }
    .main-matches .modal-content .modal-header {
      background: #50B948;
      border-radius: 5px 5px 0 0;
      color: white; }
    .main-matches .modal-content h3 {
      font-size: 15px;
      margin: 10px;
      padding-bottom: 7px;
      border-bottom: 1px solid #d0d0d0; }
    .main-matches .modal-content h4,
    .main-matches .modal-content h5 {
      margin-left: 10px; }
    .main-matches .modal-content .modal-items {
      display: flex;
      flex-wrap: wrap; }
    .main-matches .modal-content .form-group {
      margin: 5px 10px;
      display: inline-block;
      width: 180px; }
      .main-matches .modal-content .form-group input,
      .main-matches .modal-content .form-group select {
        font-size: 12px; }
    .main-matches .modal-content .where-group {
      display: inline-block;
      width: 200px; }
      .main-matches .modal-content .where-group .required-fields {
        margin-left: 10px;
        font-size: 11px; }
    .main-matches .modal-content .when-group {
      display: inline-block;
      width: 200px; }
    .main-matches .modal-content .others-group {
      display: inline-block;
      width: 165px; }
      .main-matches .modal-content .others-group .form-group {
        width: 150px; }
    .main-matches .modal-content .players-group {
      width: 100%; }
      .main-matches .modal-content .players-group .team-number {
        margin-bottom: 5px; }
    .main-matches .modal-content .submit-modal {
      display: inline-block;
      margin: 10px 15px 0 15px; }
      .main-matches .modal-content .submit-modal .btn-success {
        background-color: #50b948;
        transition: 0.2s; }
        .main-matches .modal-content .submit-modal .btn-success:hover {
          transform: scale(1.05); }

.navbar-container {
  font-family: 'Raleway', sans-serif;
  background-color: black;
  border: none;
  border-radius: 0;
  margin-bottom: 0; }
  @media (min-width: 1200px) {
    .navbar-container .container {
      width: 1000px; } }
  @media (max-width: 991px) and (min-width: 743px) {
    .navbar-container .user-list::after {
      max-width: 463px !important; } }
  @media (max-width: 510px) {
    .navbar-container .user-list::after {
      max-width: 0px !important; } }
  .navbar-container h3 {
    margin: 0px;
    display: inline-block; }
  .navbar-container .navbar-brand {
    padding-top: 12px; }
  .navbar-container .inner-addon {
    position: relative; }
  .navbar-container .glyphicon-search {
    position: absolute;
    color: #A9A9A9; }
  .navbar-container .glyphicon-search:hover {
    color: black;
    text-decoration: none; }
  .navbar-container input {
    width: 300px;
    border-radius: 27px;
    display: inline-block;
    height: 30px;
    border: none;
    margin-top: 6px; }
  .navbar-container .search-button {
    border: none;
    border-radius: 0 27px 27px 0;
    top: 6px;
    bottom: 0px; }
  .navbar-container .navbar-left {
    margin-top: 4px; }
  .navbar-container .dropdown-toggle {
    margin: 0;
    padding-right: 0; }

body {
  background-color: #EDEDED; }

.user-profile {
  font-family: 'Raleway', sans-serif;
  background-size: cover; }
  @media (min-width: 1200px) {
    .user-profile .container {
      width: 1000px; }
    .user-profile .left-block-container {
      width: 27%; }
    .user-profile .right-block-container {
      width: 73%; } }
  @media (max-width: 767px) {
    .user-profile .left-block-container {
      margin-right: 10px; }
      .user-profile .left-block-container .media-body {
        max-width: 250px;
        display: block;
        margin: 0 auto; } }
  .user-profile .mainbody {
    background: #c6d2e4; }
  .user-profile .dropdown-toggle {
    margin-right: 15px;
    font-size: 16px; }
  .user-profile .user-name-post {
    display: inline-block; }
  .user-profile .panel-title {
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
    margin-bottom: 10px; }
  .user-profile .brand_network {
    color: #d4d4d4;
    float: left;
    position: absolute;
    left: 70px;
    top: 30px;
    font-size: smaller; }
  .user-profile .post-content {
    margin-top: 27px;
    margin-left: 10px; }
  .user-profile .badge-important {
    margin-top: 3px;
    margin-left: 25px;
    position: absolute; }
  .user-profile .left-block-container,
  .user-profile .right-block-container {
    padding: 0; }
  .user-profile .left-block-container h4 {
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid grey;
    padding-bottom: 5px; }
  .user-profile .left-block-container .user-gender {
    display: inline-block;
    width: 45%; }
  .user-profile .left-block-container .user-age {
    display: inline-block;
    float: right;
    width: 45%; }
  .user-profile .right-block-container {
    padding-right: 10px; }
  .user-profile .bottom-user-block {
    margin-bottom: 10px; }
  .user-profile .panel-default {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    margin: 10px 0 10px 10px; }
  .user-profile .user-image {
    background-color: black;
    border-color: black;
    margin-bottom: 10px; }
  .user-profile .panel-post {
    padding-top: 22px;
    padding-left: 22px; }

.user-search {
  font-family: 'Raleway', sans-serif;
  background-color: #c6d2e4;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }
  .user-search .container-search {
    background-color: rgba(255, 255, 255, 0.5); }
  @media (min-width: 1200px) {
    .user-search .container {
      width: 1000px; } }
  @media (max-width: 991px) and (min-width: 743px) {
    .user-search .user-list::after {
      max-width: 463px !important; } }
  @media (max-width: 510px) {
    .user-search .user-list::after {
      max-width: 0px !important; } }
  .user-search h1 {
    margin: 20px 0 20px 0;
    text-align: center; }
  .user-search .user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0; }
    .user-search .user-list:after {
      max-width: 232px;
      content: "";
      flex: auto; }
  .user-search .upper-background {
    background: #a6b5cb;
    border-radius: 5px 5px 0 0;
    width: 203px;
    height: 100px;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    z-index: 0; }
  .user-search .li-user {
    transition: 0.1s; }
    .user-search .li-user:hover {
      transform: scale(1.02); }
  .user-search .user-container {
    display: inline-block;
    max-width: 212px;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.7); }
    .user-search .user-container h4 {
      font-weight: bold;
      font-size: 17px;
      border-bottom: 1px solid grey;
      padding-bottom: 7px; }
    .user-search .user-container .user-image {
      border-radius: 270px;
      margin: 0 auto;
      position: relative; }
    .user-search .user-container .side-position {
      margin: 5px 0;
      font-size: 13px;
      text-align: center; }
    .user-search .user-container .user-image {
      border: none; }
    .user-search .user-container .location {
      font-size: 12px;
      text-align: center; }
