.gtco-cover a {
    color: white;
}

@media (min-width: 1200px) {
    .container {
        width: 100%;
    }
}

.log-in-container {
    margin: 0;
    padding: 0;
}

#page .page-inner {
    max-width: 100%;
}

.row-mt-15em {
    margin-top: 147px;
}

#gtco-header .mt-text {
    margin-top: 0;
}